<div class="container headline page-header">
	<h1>About Ruuva</h1>
</div>	
<div class="container centralize">
	<p>Hello! We're the team behind Ruuva.</p>
	<p>Based in the sunny island of Singapore, Ruuva is made possible with lotsa love.</p>
	<p>Currently, Ruuva has two guys behind it.</p>
	<p>Jeff Lam (jeff@ruuva.com) and Christopher Low (chris@ruuva.com).</p>
	<p>Feel free to drop us a message if you have any feedback, etc. We're very open to hearing from our users!</p>
	<p>We're also currently looking out for talents to join us in building Ruuva. If you're interested, do drop us a message.</p>
	<p>We hope you enjoy Ruuva, as we continue to improve and innovate to meet your needs. :)</p>
	<p>Have a GREAT day!</p>
</div>