<div class="container headline page-header">
	<h1>Contact us!</h1>
</div>	
<div class="container centralize">
	<p>Love Ruuva? Hate Ruuva? Got an idea for Ruuva? Got a feature to Ruuva? Whatever it is, we WANT your feedback. Drop us a message with the email address below!</p>	
	<h2>hello@ruuva.com</h2>
</div>