<div class="container headline page-header">
	<h1>Need help?</h1>
</div>	
<div class="container centralize">
	<p>Need help with using Ruuva? Or simply feeling confused with any aspect of your business(heck, even life!)? Feel free to drop us a message with your issue with the address below!</p>	
	<h2>help@ruuva.com</h2>
</div>