<p>Hello <%= @user.name %>!</p>
<p>Here's a gentle reminder for the event: <%= @collection.name %> which you indicated you are attending.</p>
<p>The event's date time is set at <%= @event.date_time %></p>
<p>View the event's collection here: <%= collection_path(@collection) %></p>