<p>Hello <%= @user.name %>!</p>
<p>Welcome to Ruuva! We aim to satisfy your online browsing and shopping needs. :)</p>
<p>We're just starting out, but we value ALL user feedback seriously. If you have anything to say, simply reply us in this email or drop us a message at hello@ruuva.com</p>
<p>Alright, we're not gonna hold you up any longer - login to your Ruuva account now: <a href="http://ruuva.com">Click here to login to Ruuva!</a></p>
<p>Oh, and we highly recommend you head over to your settings page to fill up some info about yourself. Even better, if you're created a shop or want to market any of your products or yourself, activate your shopfront and upload a cover photo to stand out!</p>
<p>The link to your edit your profile is here: <%= edit_user_url(@user) %></p>
<p>We hope you enjoy using Ruuva, and see you later!</p>
<br><br>
<p>Have a great day!</p>
<p>The Ruuva Team</p>
<p>(Just Jeff and Chris... for now ;) )</p>