<p>Hello <%= @user.name %>!</p><%= @event %> <%= @collection %>
<p>Here's a gentle reminder that you have an event happening soon which you indicated you are attending.</p>
<p>Head on over to <%= link_to "Ruuva", root_url %> to view the event!</p>
<br><br>
<p>Have a great day!</p>
<p>The Ruuva Team</p>
<p>(Just Jeff and Chris... for now ;) )</p>