<% if current_user %>
<%= render 'shared/user_info' %>		

<!-- Center Column, Main -->
<div class="spanright-newsfeed">
	<ul class="tabs" data-tabs="tabs">
  		<li class="active"><a href="#following">Following (This is Show.html rendering Post.html)</a></li>
 	 	<li><a href="#newshops">New Shops</a></li>
 	 	<li><a href="#popular">Popular</a></li>
	</ul>
	<% unless @user.posts.empty? %>
		<%= render @posts %>
	<% end %>
</div>
<% else %>
<div class="containertop">
	<div class="row" id="home">
		<section id="caption" class="page-header">
			<h1>
				This is the wall feed of <%= User.find(params[:id]).name %>. Login to see!
			</h1>

		</section>			
	</div>
</div>	
<% end %>