<ul class="tabs" data-tabs="tabs">
	<li class="active"><a href="#following">Following (This is Feed.html)</a></li>
 	<li><a href="#newshops">New Shops</a></li>
 	<li><a href="#popular">Popular</a></li>
</ul>
<% unless @feed_items.empty? %>
	<%= render partial: 'shared/feed_item', collection: @feed_items %>
<% end %>