<div class="container headline page-header">
	<h1>Latest happenings...</h1>
</div>
<div class="container wookmark">
	<% unless @feed_items.empty? %>
		<%= render partial: 'shared/feed_item', collection: @feed_items %>
	<% end %>
</div>