<div class="containertop">
	<div class="row" id="home">
		<section id="caption" class="page-header">
			<h1>
				Create a socialized shopping experience easily and quickly.
				<%= link_to "Get started in just 60 seconds!", signup_path %>
			</h1>
		</section>			
	</div>
</div>	