<% if current_user %>
<%= render 'shared/user_info' %>		

<!-- Center Column, Main -->
<div class="container">
	<%= render 'shared/post_form' %>
	<%= render 'shared/feed' %>
</div>
<% else %>
<div class="containertop">
	<div class="row" id="home">
		<section id="caption" class="page-header">
			<h1>
				Ruuva makes online shopping simpler and more socialble. Sign up in 10 seconds for free!
				<%= link_to 'Click here to sign up in 10 seconds!', signup_path %>
			</h1>

		</section>			
	</div>
</div>	
<% end %>