<% if current_user %>
	<div class="container">
		<%= render 'shared/user_info_home' %>		
		<%= render 'shared/flash_notices' %>
			<%= render 'shared/feed' %>
	</div>
<% else %>
	<%= render 'pages/index' %>
<% end %>