// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Feed Styling */

.feed-item {
	margin-left:5px;
	margin-top:5px;
	float:left;
	width:250px;
}
.feed-item .profilephoto {
	width:48px;
	float:left;
	margin:10px 0 0 10px;
}
.feed-item .feed {
	width:190px;
	float:left;
	margin:10px 0 0 10px;		
}
	.feed-item .feed .name a {
		font-family:inherit;
		font-size:13px;
		float:left;
	}	
	.feed-item .feed .updates {
		font-family:inherit;
		font-size:12px;
		float:left;
		clear:both;
		margin-top:5px;
		color:#333333;
		line-height:16px;
	}
	.feed-item .feed .timestamp {
		font-family:inherit;
		font-size:11px;
		float:left;
		clear:both;
		color:#777777;
		margin-top:10px;
	}	
	.feed-item .clearfix { 
		clear:both;
		padding-top:20px;
	}

.update-feed { 	max-height:60px; font-size:14px; margin-top:5px; margin-bottom:5px;}
.update-feed-box { margin-left:0px; }
.wookmark { position: relative; }
