// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Feed Styling */

.feed-item {
	margin-left:0px;
	min-height:95px;
	border-top:1px solid #eee;	
}
.feed-item .profilephoto {
	width:60px;
	min-height:75px;
	float:left;
	margin:20px 0 0 20px;
}
.feed-item .feed {
	width:600px;
	float:left;
	margin:17px 0 0 10px;		
}
	.feed-item .feed .name a {
		font-family:inherit;
		font-size:14px;
		float:left;
	}	
	.feed-item .feed .updates {
		font-family:inherit;
		font-size:14px;
		float:left;
		clear:both;
		color:#333333;
	}
	.feed-item .feed .timestamp {
		font-family:inherit;
		font-size:12px;
		float:left;
		clear:both;
		color:#777777;
		margin-top:30px;
	}	
	.feed-item .clearfix { 
		clear:both;
		padding-top:20px;
	}

.update-feed { 	max-height:60px; font-size:14px; }
.update-feed-btn { margin-left:651px; }
