// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* User Edit Page */

.avatar { width:128px; height:128px; }
.cover_photo_preview { width:670px; height:200px; }
.marketplace-avatar { width:190px; height:190px; }
.feed-avatar { width: 30px; height:30px; }

/* Nav Bar Styling */

.navbarprofilephoto {
	min-width:100px;
}
	.profilephoto {
		float:left;
		margin-top:-3px;
		margin-right:6px;
		height:24px;
		width:24px;
	}

/* User Info box */

.user-info {
	background-color:#fff;
	height:85px;
	border:1px solid #eee;
	margin-bottom:10px;
}

	.user-info .photo {
		width:64px;
		height:64px;
		float:left;
		margin-left:10px;
		margin-top:10px;
	}
		.user-info .photo .avatar {
			width:64px;
			height:64px;
		}
	.user-info .namebio {
		width:300px;
		height:80px;
		float:left;
		margin-left:10px;
		margin-top:10px;
	}

	.user-info .name {
		height:26px;
		float:left;
		font:arial;
		font-size:24px;
		font-weight:bold;
		margin-top:3px;
	}

	.user-info .bio {
		font-family:arial;
		width:500px;
		float:left;
		height:35px;
		font-size:12px;
	}

	.user-info .followers {
		width:120px;
		height:70px;
		margin-top:15px;
		border-left:1px solid #eee;

		float: right;

		font-family:arial;
		font-size:12px;
		margin-top:10px;
		text-align:center;
	}

		.user-info .followers .number {
			width:120px;
			height:35px;
			margin-top:15px;
			font-size:32px;
		}

	.user-info .following {
		width:120px;
		height:70px;
		margin-top:15px;
		border-left:1px solid #eee;
		float: right;

		font-family:arial;
		font-size:12px;
		margin-top:10px;
		text-align:center;
	}

		.user-info .following .number {
			width:120px;
			height:35px;
			margin-top:15px;
			font-size:32px;
		}

	.user-info .btnbox {
		width:120px;
		margin-top:10px;
		height:70px;
		float:right;
		border-left:1px solid #eee;
	}

	.user-info .btnbox #follow_form {
		margin-top:17px;
		text-align:center;
	}

	.user-info .btnbox .shop-btn {
		margin-top:18px;
		margin-left:18px;
	}

	.user-info .btnbox .wall-btn {
		margin-top:18px;
		margin-left:23px;
	}
/* User Shop Styling */

.shop-header {
	margin-top:-5px;
	margin-bottom:-5px;
	border-right:1px solid #eee;
	border-left:1px solid #eee;
}

.add-cover-photo {
	margin-top:180px;
	margin-bottom:180px;
}

/* User Wall Updates */
