<div id="masonry-product" class="margin-right thumbnails">
	<% unless @products.empty? %>
		<%= render partial: 'products/product', collection: @products %>
	<% end %>		
</div>
<%= render 'products/product_form' %>
